@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: Consolas, sans-serif;
}

html {
    font-size: 16px;
}

body::-webkit-scrollbar {
    display: none;
}